fieldset {
    width: 1000px;
    height: 480px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    font-weight: bold;
}
body{
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
    50% {
      background-color: #FFFFE0;
    }
    100% {
      background-color: #00FA9A;
    }
}

#eventDetails {
    font-weight: bold;
    font-size: 30px;
    font-family: cursive;
}

.innerForm{
    margin-left: 40px;
    position: relative;
    margin-top: 25px;
    font-family: cursive;
    font-size: 13px;
}
#submit {
    width: 85px;
    height: 25px;
    margin-left: 370px;
}
#cancel{
    width: 85px;
    height: 25px;
}
#eventTypes {
    margin-left: 95px;
}
#title {
    margin-left: 102px;
}
#eventDateRange1 {
    margin-left: 95px;
}
#eventPostDate {
    margin-left: 93px;
}



